<mat-toolbar>
  <span>Eswar Bharadwaj Gvs</span>
  <span class="nav-spacer"></span>
  <a routerLink="about"> <button mat-button>About</button> </a>
  <a routerLink="works"> <button mat-button>Works</button> </a>
  <a routerLink="contact"> <button mat-button>Contact</button> </a>
  <a href="../../assets/pdf/resume.pdf" target="_blank"> <button mat-button>Resume</button> </a>
  <span class="nav-spacer"></span>
  <a href="https://github.com/Eswargvs" target="_blank">
    <button mat-icon-button>
      <img src="../../assets/pics/github.svg" />
    </button>
  </a>
  <a
    href="https://www.linkedin.com/in/venkata-sai-eswar-bharadwaj-gollapudi-479790b3/"
    target="_blank"
  >
    <button mat-icon-button>
      <img src="../../assets/pics/linkedin.svg" />
    </button>
  </a>
</mat-toolbar>
